services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    environment:
      - NODE_ENV=production
    volumes:
      - ./logs:/app/logs
    expose:
      - "3000"
    restart: unless-stopped
    networks:
      - loopy-be-network
    ports:
      - "3000:3000"

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./loopy.conf:/etc/nginx/conf.d/loopy.conf
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    depends_on:
      - app
    restart: unless-stopped
    networks:
      - loopy-be-network

  certbot:
    image: certbot/certbot
    entrypoint: ["sh", "-c"]
    command: ["sleep infinity"]
    volumes:
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    restart: unless-stopped
    networks:
      - loopy-be-network

networks:
  loopy-be-network:
    driver: bridge